* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background: rgba(245, 228, 228, 0.1);
  color: #333;
}
.navbar {
  background: #ebe4e4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar p {
  padding: 5px;
}

.navbar .guide-box {
  position: absolute;
  top: 55px;
  right: 10px;
  background: white;
  color: black;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.navbar .guide-btn,
.navbar .close-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}